.textEditorHeading {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  
  .selectorDivWrapper {
    display: flex;
    max-width: 1280px;
    margin: auto;
    justify-content: center;
    gap: 30px;
  }
  .selectorDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .toggleSwitch {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  .editor {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 50vh;
    margin-top: 10px;
  }
  .switch {
    width: 23px;
    height: 23px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.2s;
  }
  
  .toggleSwitch .on {
    transform: translateX(25px);
    background-color: #048208;
  }
  
  .toggleSwitch .off {
    transform: translateX(0);
  }
  .loading {
    text-align: center;
  }
  
  .bottomButtons {
    padding: 20px;
    display: flex;
    justify-content: end;
    gap: 10px;
  }